body {
  background: linear-gradient(to bottom, rgba(25, 0, 255, 0.698), 
  rgba(33, 63, 255, 0.921));
}

h1 {
  text-align: center;
  color: white;
}

.compound-image {
  width: 80px;
  height: 80px;
}

.table-toxicity {
  background-color: white;
  justify-self: center;
  width: 500px;
  height: 200px;
}

.table-toxicity tr {
  text-align: center;
}

.table-toxicity thead {
  background-color: darkblue;
  color: white;
}

.btn-light {
  color: #007bff;
  font-size: 10px; 
  text-decoration: none; /* Remove underline */
  padding: 5px 10px; /* Optional: Adjust padding for better spacing */
  border: 1px solid #007bff; /* Optional: Add a border */
  border-radius: 5px; /* Optional: Round corners */
}

.btn-light:hover {
  color: #0056b3; /* Hover text color */
  background-color: #e9ecef; /* Optional: Add a hover background */
}

