body {
  background: linear-gradient(to bottom, rgba(25, 0, 255, 0.698), 
  rgba(33, 63, 255, 0.921));
}

h1 {
  text-align: center;
  color: white;
}

.compound-image {
  width: 80px;
  height: 80px;
}

.table-toxicity {
  background-color: white;
  justify-self: center;
  width: 500px;
  height: 200px;
}

.table-toxicity tr {
  text-align: center;
}

.table-toxicity thead {
  background-color: darkblue;
  color: white;
}