{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href='{{ url_for("static", filename="home.css") }}' />
    <div class="calc-container">
    <h1>Toxicity Calculator</h1>
    <div class="center">
        <form action='{{ url_for("toxicity_results") }}' method="GET">
            <span>Molecule Name</span>
            <input name="smiles_query" type="text" />
            <span># Molecules</span>
            <input name="num_compounds" type="number">
            <button type="submit">Submit</button>
        </form>

        <img src="https://img.freepik.com/premium-photo/beautiful-scene-chemical-molecules-air-style-orange-blue_921860-32502.jpg">

    </div>
    </div> 
{% endblock content %}

<!--{% block styles %}
    <style>
    body {
      background-image: url('https://pngtree.com/freebackground/gradient-blue-minimal-chemical-element-molecular-structure_1158484.html');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
</style>>
{% endblock styles %}-->
